{{> header}}

<div class="container border align-items-center width p-3">
    <header>
            <h2 class="text-center">Welcome to the Homepage</h2>
        </header>
        <section class="mt-4">
            <p class="text-center">This is the final project for CS50.</p>
            <p class="text-center">This is a full-stack courier service application built using NestJS.</p>
        </section>
        <section class="mt-4">
            <h4>Technologies Used</h4>
            <ul>
                <li><strong>Back-end:</strong> NestJS for application processing and SQLite for database management.</li>
                <li><strong>Front-end:</strong> Bootstrap for styling and HandlebarsJS for rendering templates.</li>
            </ul>
        </section>
        <section class="mt-4">
            <h4>Application Pages</h4>
            <ul>
                <li><strong>Homepage:</strong> The landing page of the application.</li>
                <li><strong>Pickup List:</strong> A page where pickups are displayed in a table for couriers. Users can create pickups using the Pickup Form.</li>
                <li><strong>Pickup Form:</strong> A form for users to create pickups for couriers. Users select the protocol, consignor, consignee sites, and courier.</li>
                <li><strong>Dictionary:</strong> A dictionary containing all selectable inputs such as protocols, sites, and couriers.</li>
            </ul>
        </section>
</div>
