{{> header}}

<div class="container border align-items-center width p-3">
    <h3 class="text-center">Error 401 - Unauthorized</h3>
    <br />
    <h4 class="text-center">Please sign in as authorized user to continue</h4>
    <br />
</div>
